<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="lab.neruno.flutter_ipay88_id">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

</manifest>
